config openvpn 'vpn'
        option enabled '1'
        option verb '3'
        option port '777'
        option proto 'tcp'
        option dev 'tun'
        option server '10.8.0.0 255.255.255.0'
        option keepalive '10 120'
        option ca '/etc/openvpn/ca.crt'
        option cert '/etc/openvpn/openvpn.cert'
        option key '/etc/openvpn/openvpn.key'
        option dh '/etc/openvpn/dh2048.pem'
        list push 'route 192.168.0.0 255.255.255.0'
        list push 'route 192.168.1.0 255.255.255.0'
        list push 'route 10.150.40.0 255.255.248.0'
        list push 'route 192.168.15.2 255.255.255.255'
