lxc.include = /usr/share/lxc/config/debian.common.conf

lxc.utsname = {{ vm_name }}
lxc.rootfs = /dev/{{ inventory_hostname }}vg/vm_{{ vm_name }}

lxc.tty = 4
lxc.arch = amd64

lxc.network.type = veth
lxc.network.flags = up
lxc.network.link = br0
lxc.network.name = eth0
lxc.network.ipv4 = {{ hostvars[vm_name]['ansible_host'] }}/24
lxc.network.ipv4.gateway = {{ hostvars[ext_gateway]['ansible_host'] }}
lxc.start.auto = {% if auto_start %}1{% else %}0{% endif %}
