<?xml version="1.0" encoding="UTF-8"?>
<addon id="media.lilik.it" name="LILiK Repository" version="0.0.1" provider-name="LILiK">
    <extension point="xbmc.addon.repository" name="LILiK Repository">
        <info compressed="true">{{ repository_url }}addons.xml</info>
        <checksum>{{ repository_url }}addons.xml.md5</checksum>
        <datadir zip="true">{{ repository_url }}</datadir>
    </extension>
    <extension point="xbmc.addon.metadata">
        <summary>LILiK Repository</summary>
        <description>A repository of add-ons that LILiK provide</description>
        <disclaimer></disclaimer>
        <news></news>
        <platform>all</platform>
        <language></language>
        <license>GNU GENERAL PUBLIC LICENSE. Version 2, June 1991</license>
        <forum></forum>
        <website></website>
        <source></source>
        <email></email>
    </extension>
</addon>
