server_host = {{ ldap_server }}
search_base = vd=%D,o=hosting,dc=lilik,dc=it
#query_filter = (&(objectClass=simpleSecurityObject)(mail=%s))
query_filter = (&(objectClass=VirtualMailAccount)(mail=%u)(accountActive=TRUE)(delete=FALSE))
result_attribute = mail
#result_attribute = uid
#result_format  =  %D/%s/
dereference = 3
version = 3
