[ldap-user-auth]
user_class = "inetOrgPerson"
filter = "authorizedService=icinga2"
user_name_attribute = "cn"
backend = "ldap"
base_dn = "ou=People,{{ ldap_basedn }}"
resource = "icingaweb2-users-ldap"
