[icingaweb2-users-ldap]
type = "ldap"
hostname = "{{ ldap_server }}"
port = "389"
encryption = "starttls"
root_dn = "{{ ldap_basedn }}"
bind_dn = "cn={{ host_fqdn }},ou=Server,{{ ldap_basedn }}"
bind_pw = "{{ icingaweb2_ldap_passwd.passwd }}"

[icingaweb2-ido-pgsql]
type = "db"
db = "pgsql"
host = "/var/run/postgresql"
port = "5432"
dbname = "icinga2"
username = "www-data"
password = ""
charset = ""
persistent = "0"

[icingaweb2-config-pgsql]
type = "db"
db = "pgsql"
host = "/var/run/postgresql"
port = "5432"
dbname = "icingaweb2"
username = "www-data"
password = ""
charset = ""
persistent = "0"
