[Unit]
Description=BorgBackup script for Repository %I
After=network.target

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Environment=BORG_RSH="ssh -i /root/.ssh/id_ed25519_BORG"
ExecStartPre=/usr/bin/borg break-lock backup@{{ borgrepo_backup_host }}.dmz.{{ domain }}:%i
ExecStart=/etc/backup/%i.sh
PIDFile=/tmp/borg_backup_%i.pid
User=root
Group=root
